<div class="jumbotron">
  <h1 class="text-center">Welcome to Robot World</h1>

  <div class="text-center">
  <a href="/robots" class="btn btn-lg btn-default">See all Robots</a>
  <a href="/robots/new" class="btn btn-lg btn-primary"> Create Robot</a>
  </div>
</div>
