<form action="/robots" method="post">
  <label for="name">What is your Robot called?</label>
  <input type="text" class="form-control" id="name" name="robot[name]"/><br/>

  <label for="city">What city is your robot from?</label>
  <input type="text" class="form-control" id="city" name="robot[city]"/><br/>

  <label for="state">What state is your robot from?</label>
  <input type="text" class="form-control" id="state" name="robot[state]"/><br/>

  <label for="birthDate">When is your birthdate?</label>
  <input type="date" class="form-control" id="birthDate" name="robot[birthday]"/><br/>

  <label for="dateHired">When were you hired</label>
  <input type="date" class="form-control" id="dateHired" name="robot[date_hired]"/><br/>

  <label for="department">What department do you work in?</label>
  <input type="text" class="form-control" id="department" name="robot[department]"/><br/>

  <input type="submit" />
</form>
